html{
  height: 100%;
}

body{
  position: relative;
  min-height: 100%;
}


//css offer bootstrap


// show product css
.carousel-background{
  background: #dcf4fc;
}
.bg-light {
    background-color: #02aadd!important;
}
.nav-bg {
    background: #2684c9;
}


.margin-top-20{

  margin-top: 20px
}

.pointer{
  cursor: pointer;
}
.feature-img{

  max-height: 200px
}

.footer-bottom{
  padding: 10px;
  margin-top: 200px;
  background :#2684C9;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}
